body {
  background-color: rgb(238, 238, 238);
  display: flex;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

p,
h2 {
  text-align: left;
}

p {
  margin-top: -6px;
}

h2 {
  margin-top: 2px;
}
