@media screen and (max-width: 600px) {
  .hero-head {
    background-color: black;
    background-image: none;
  }

  .hero-head .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .hero-head .main-head .main-nav {
    display: none;
  }

  .hero-head .main-head .main-nav {
    display: none;
  }

  .bordered .wrapper {
    width: 100%;
  }

  .hero-head .wrapper .goal {
    max-width: 90%;
    font-size: 22px;
  }

  .hero-head .wrapper h1 {
    font-size: 50px;
    line-height: 6rem;
  }

  .content-bordered .wrapper {
    display: flex;
    flex-direction: column;
  }

  .bordered .wrapper .content-wrap {
    flex-direction: column;
    margin: 0 auto;
  }

  .bordered .wrapper .content-wrap .col {
    text-align: center;
    margin: auto 0;
  }

  .bordered .wrapper .content-wrap .col a {
    width: 90%;
  }

  .content .wrapper {
    max-width: 100%;
  }

  .content .wrapper .content-wrap-full {
    padding: 0rem 2rem;
  }

  .main-foot {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .main-foot .wrapper {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }

  .main-foot nav,
  .main-foot address {
    margin-right: 0px;
  }

  .main-foot .bottom .copyright {
    float: none;
    text-align: center;
  }
}
