body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}

header {
    border-bottom: 2px solid black;
}